body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header, .footer {
  background-image: linear-gradient(-180deg, #8E2DE2 0%, #4A00E0 100%);
  color: white;

}

.header {
    display: grid;
    width: 100%;
    /* grid-template: "a a a" auto; */
}

.logo-text {
    display: inline-block;
    margin: 0;
}


/* SLIDER STYLES */
.view-slider-wrapper {
    display: grid;
    background-color: ;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 100px 100px; 
}

.view-slider-wrapper>* {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.view-slider-wrapper>p {
    z-index: 2;
    color: gray;
    margin: .5rem .75rem;
    font-size: .75rem;
}

.slide-opLft {
    grid-column: 1 / 2;
}

.slide-opRt {
    grid-column: 2 / -1;
    text-align: right;
}

.slider-track {
    background: rgba(76,76,76,1);

    border-radius: 35px;
}

.slider {
    background-color: white;
    z-index: 1;
    grid-column: 1 / 2;
    border-radius: 35px;
    -webkit-box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
}