*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    background-color: #f8f9fb;
}

.site-container {
    font-family: sans-serif;
    color: #323b65;
}

.site-container>* {
    padding: 15px;
}

.header-box, .footer {
  background-image: linear-gradient(-180deg, #8E2DE2 0%, #4A00E0 100%);
  color: white;
}

.vsm-font {
    font-size: .65rem;
}
.sm-font {
    font-size: .70rem;
}
.med-font {
    font-size: .8rem;
}

.highlight-text {
    color: #8E2DE2;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 1.25rem;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-self: left;
    margin-bottom: 5px;
}   

.logo-text {
    margin-left: .25rem;
    font-weight: bold;
    display: inline-block;
}

.page-title {
    font-size: 1.25rem;
    font-weight: normal;
}

/* SLIDER STYLES */
.view-slider-wrapper {
    display: grid;
    background-color: ;
    width: fit-content;
    grid-template-rows: 23px;
    grid-template-columns: 110px 110px;
}

.view-slider-wrapper>* {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.view-slider-wrapper>p {
    z-index: 2;
    align-self: center;
    justify-self: center;
}

.slide-opLft {
    grid-column: 1 / 2;
    color: #4A00E0;
}

.slide-opRt {
    color: white;
    grid-column: 2 / -1;
}

.slider-track {
    background: rgba(255, 255, 255, .25);
    opacity: 100%;
    border-radius: 14px;
}

.slider {
    background-color: white;
    z-index: 1;
    grid-column: 1 / 2;
    border-radius: 14px;
    -webkit-box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 15px -13px rgba(0,0,0,0.75);
}

/* END SLIDER STYLES */

.date i {
    margin-left: .85rem;
}

/*  CARD STYLES */

.cat-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}

.subtext {
    color: #babecb;
}

.card-icon {
    background: #f3f4f9;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    display: grid;
    align-items: center;
    justify-content: center;
}

.budget-bar {
    display: grid;
    grid-template-rows: 5px;
    grid-template-columns: auto auto;
}

.budget-bar>* {
    grid-row: 1 / -1;
}

.total-bar {
    background-color: #f8f9fb;
    grid-column: 1 / -1;
}

.used-bar {
    background-color: #4a00e0;
    grid-column: 1 / -1;
}



.footer {
    display: grid;
    justify-items: center;
    /* align-content: center; */
}